<link rel="stylesheet" href="/css/contato.css">

<main>
        <div id="tire_duvidas">
            <h1 id="duv">Tire Dúvidas</h1>
            <p id="parag"> Se você tem dúvidas sobre nossos produtos, envio, prazos de <br>
                entrega ou sugestões, feedbacks e ideias para compartilhar <br>
                conosco, adoraríamos ouvi-los.</p>
            <br>
            <div class="telefone">
                <img id="icnteleff" src="/img/icones/footer/001-chamada-telefnica.png" alt="">
                <h1 id="h1nms">Telefone</h1><h2 id="h2comp">+55 (48)9 9853-0078</h2>
            </div>
            <div class="WhatsApp">
                <img id="icnwppp" src="/img/icones/footer/002-whatsapp.png" alt="">
                <h1 id="h1nms">WhatsApp</h1><h2 id="h2comp">+55 (48)9 9853-0078</h2>
            </div>
            <div class="E-mail">
                <img id="icnemaill" src="/img/icones/footer/003-o-email.png" alt="">
                <h1 id="h1nms">E-mail</h1><h2 id="h2comp">selostore.vp@gmail.com</h2>
            </div>
            <div class="relogio">
                <img id="icnrelogioo" src="/img/icones/footer/relogio.png" alt="">
                <h1 id="h1nms">Horários de Funcionamentol</h1><h2 id="h2comp">De segunda a sexta das 08:00 às 17:30.</h2>
            </div>
        </div>

        <div id="tire_duvidas2">
            <h1 id="duv">Revenda Selo</h1>
            <p id="parag">Estamos sempre em busca de parceiros(as) que se <br>
                identifiquem com nossa marca e queiram levar nossas <br>
                produções para novos lugares e públicos.
            <br><br><br>
            <input type="text" placeholder="Nome"><br>
            <input type="text" placeholder="E-mail"><br>
            <input type="text" placeholder="Telefone"><br>
            <input type="text" placeholder="CNPJ"><br>
            <input type="text" placeholder="Link da sua loja"><br>
            <textarea type="text" id="inp_grande" placeholder="Deixe uma mensagem"></textarea>
            <button id="btn_form"type="submit">Enviar</button>
            <br><br><br>
        </div>
    </main>