<link rel="stylesheet" href="/css/quem_somos.css">

<main>
		<div class="historia_cplt">
			<img id="imghis" src="/img/Composição_site/surf.jpg" alt="">
			<h1 id="h1histcplt">Hey, seja bem vindo!</h1>
			<p id="phistcplt">E aí, meu parceiro de rolê! Se você está procurando uma marca que fala a <br> 
				sua língua, então você veio ao lugar certo!
				<br><br>
				Aqui na Selo, não se trata apenas de se vestir bem, é sobre abraçar o <br> 
				espírito livre e aproveitar ao máximo a vida.
				<br><br>
				Nós nos inspiramos em skate, surf, arte e música para criar roupas e <br> 
				histórias únicas que incentivem as pessoas a sair e explorar o mundo ao <br> seu redor.
				<br><br>
				É sobre um estilo de vida, acreditamos que a verdadeira felicidade vem <br> 
				quando você se liberta das expectativas e se concentra em crescer e <br> 
				evoluir como indivíduo. E não há melhor maneira de fazer isso do que <br> 
				passar tempo na natureza, surfando umas ondinhas ou dando aquele <br> 
				rolê de skate com os amigos!
				<br><br>
				Para nós, a liberdade significa a capacidade de se expressar através do  <br>
				seu estilo pessoal e suas paixões, sem medo do julgamento.</p>
		</div>
		<br><br><br><br><br><br>
		
		<div id="slidehis"><br>
			<h1 id="elevate">Elevate </h1>
			<h1 id="evolve">Evolve </h1>
			<h1 id="express">Express</h1>
			<br>
			<p>Nosso slogan é mais do que apenas algumas palavras bacanas <br> 
				que soam bem juntas. É o que acreditamos e o que <br> 
				defendemos!<br><br>
				Queremos que você se sinta confiante para crescer e evoluir <br>
				como indivíduo, experimentando novas coisas e aprendendo <br>
				com suas experiências.
			</p>

				<button id="btn_his" onclick="location.href='/home'">Conhecer Produtos</button>
				<!-- <a href="historia.html"><p id="psli">Continuar lendo...</p></a> -->
		</div>
    </main>